/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;

}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15px 25px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 15px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    /* font-style: normal; */
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 35px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.banner-paragraph {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
}

.banner-buttons {
    margin-top: 30px;
}

/* main section styles */
main {
    width: 1140px;
    margin: 0px auto;
}

/* about section styles */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    padding: 130px;
    border-radius: 10px;
}

.about-info-container {
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}

/* skills section styles */
.what {
    padding-top: 130px;
    padding-bottom: 130px;
    border-radius: 10px;
}

#what-desc {
    width: 900px;
    text-align: center;
    margin: 0px auto;
}

.skills-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.skill {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

/* resume section styles */
#resume-title {
    margin-bottom: 130px;
}

.hr1 {
    margin: 0px 30px 0px 0px;
}

.resume-item {
    margin: 0px 100px 0px 0px;
}

.resume-container {
    display: flex;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}

.item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.item-subtitle {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 30px;
}

.item-details {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.btn-resume {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 130px;
}

/* footer section styles */
footer {
    background: #FFF8F3;
    padding-top: 130px;
}

.footer-flex {
    width: 1140px;
    margin: 0px auto;
    display: flex;
    /* gap: 150px; */
}

.footer-column {
    width: 50%;
}

#footer-column1 {
    margin-right: 100px;
}

#footer-column2 {
    margin-right: 100px;
}

.footer-column-title {
    color: #181818;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.footer-text {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.contact input[type="text"],
input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

.contact {
    margin-bottom: 130px;
}

.link-icons {
    margin-top: 30px;
}

.link-icons a {
    margin-right: 25px;
}